Workflows/listarRepositorios-E5266D65-2937-F011-8C4E-7C1E526A77B3.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "actions": {
        "HTTP": {
          "type": "Http",
          "inputs": {
            "uri": "@concat('https://api.github.com/users/', triggerBody()?['text'], '/repos')",
            "method": "GET",
            "headers": {
              "User-Agent": "PowerAutomate"
            }
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Análisis_del_archivo_JSON": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          },
          "runAfter": {
            "HTTP": [
              "SUCCEEDED"
            ]
          }
        },
        "Seleccionar": {
          "type": "Select",
          "inputs": {
            "from": "@body('Análisis_del_archivo_JSON')",
            "select": {
              "DisplayName": "@item()['name']"
            }
          },
          "runAfter": {
            "Análisis_del_archivo_JSON": [
              "SUCCEEDED"
            ]
          }
        },
        "Responder_al_agente": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "listofrepos": {
                  "title": "listOfRepos",
                  "description": "",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "listofrepos": "@{body('Seleccionar')}"
            }
          },
          "runAfter": {
            "Seleccionar": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Introduce tu nombre de Usuario",
                  "title": "githubUsuario",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}